version
/version
.DS_Store
Thumbs.db
build
**/build
dist
**/dist
__pycache__
**/__pycache__
download
**/download
download_qu
**/download_qu
venv
**/venv
*.init
*.pyc
*.o
*.class
*.exe
*.log
*.spec
build
dist
xml
**/xml

*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*
*.xlsx
~$*.xlsx

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*
*.xml