.DS_Store
Thumbs.db
build
**/build
dist
**/dist
__pycache__
**/__pycache__
download
**/download
venv
**/venv
*.init
*.pyc
*.o
*.class
*.exe
*.log
*.spec
build
dist

*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*